{% extends 'app_page/base.html' %}
{% block title %}{% if editar %}Editar Cliente{% else %}Registro de Cliente{% endif %}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card bg-dark text-success border-success">
            <div class="card-body">
                <h2 class="card-title text-center">{% if editar %}Editar Cliente{% else %}Registro de Cliente{% endif %}</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100 mt-3">{% if editar %}Guardar Cambios{% else %}Generar Código de Barras{% endif %}</button>
                </form>
                <a href="{% url 'lista_clientes' %}" class="btn btn-dark w-100 mt-2">Ver lista de clientes</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
